.container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (min-width: $media-tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: $media-desktop) {
    grid-template-columns: repeat(3, 1fr);
  }


}