.image-card {
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: block;

  &__title {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0.5rem;
    left: 1rem;
    z-index: 1;
    color: $clr-white;
    overflow: hidden;

    p {
      color: $clr-white;
      opacity: 0.75;

      transition: transform 0.2s ease-in;
      transform: translateY(100%);
    }
  }

  img {
    width: 100%;
    height: auto;
    transition: transform 0.2s ease-in;
  }
}

.image-card:hover img {
  transform: scale(1.3);
}

.image-card:hover p {
  transform: translateY(0);

}