
.background_image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;

  img {
    object-fit: cover;
  }
}

.hero {
  height: 100vh;

  &-title__container{
    width: 80%;
    height: calc(100% - 5rem);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

    @media (min-width: $media-tablet) {
      width: 60%;
    }
  }

  &-title {
    color: $clr-white;
    font-family: $ff-serif-bold;
    font-size: $fs-600;
    line-height: $line-height-600;
    letter-spacing: $letter-spacing-2;
    z-index: 90;
    padding-bottom: 8rem;

    @media (min-width: $media-tablet) {
      font-size: $fs-700;
      line-height: $line-height-800;

    }
  }
}