// --clr-color-opacity
$clr-white: #FDFFFC;

$clr-navy-blue: #011627;
$clr-navy-blue-70: #41505D;
$clr-navy-blue-50: #7F8B92;

$clr-blue: #0B8BD5;
$clr-blue-70: #48A8DF;
$clr-blue-50: #85C5EA;

$clr-green: #9BC53D;
$clr-green-70: #B4D36E;
$clr-green-50: #CDE29E;

$clr-red: #FF3A20;
$clr-red-70: #FF6B58;
$clr-red-50: #FF9C8F;

// media query
$media-desktop: 90em; /* 1440 px */

$media-tablet: 48.125em; /* 770px */
$media-phone: 20em; /* 320px */

//font size
$fs-700: 5rem; /* 80px */
$fs-600: 3.375rem; /* 54px */
$fs-500: 2.5rem; /* 40px */
$fs-400: 1.5rem; /* 24px */
$fs-300: 1.25rem; /* 20px*/
$fs-200: 1.125rem; /* 18px */
$fs-100: 1rem; /* 16px */

//line-height
$line-height-800: 5.25rem; /* 84px */
$line-height-700: 5rem; /* 80px */
$line-height-600: 3.75rem; /* 54px */
$line-height-500: 3rem; /* 48px */
$line-height-400: 2rem; /* 32px */
$line-height-300: 1.75rem; /* 28px */
$line-height-200: 1.625rem; /* 26px */
$line-height-100: 1.5rem; /* 24px */

//letter-spacing
$letter-spacing-2: -0.02em;
$letter-spacing-1: -0.014em;

// font family

$ff-serif-bold: var(--clash-bold), serif;
$ff-serif-medium: var(--clash-medium), serif;
$ff-sans: var(--apfel-regular), sans-serif;