.base {
  display: inline-flex;
}
.bold{
  font-family: $ff-serif-bold;
}

.normal {
  font-family: $ff-serif-medium;
}

.xx-small {
  font-size: $fs-200;
  line-height: $line-height-100;
  letter-spacing: $letter-spacing-1;
}

.x-small {
  font-size: $fs-300;
  line-height: $line-height-300;
  letter-spacing: $letter-spacing-1;
}

.small {
  font-size: $fs-400;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-1;
}

.medium {
  font-size: $fs-400;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-2;
}

.large {
  font-size: $fs-500;
  line-height: $line-height-500;
  letter-spacing: $letter-spacing-2;
}

.x-large {
  font-size: $fs-400;
  line-height: $line-height-400;
  letter-spacing: $letter-spacing-2;

  @media (min-width: $media-tablet) {
    font-size: $fs-500;
    line-height: $line-height-500;
  }

  @media (min-width: $media-desktop) {
    font-size: $fs-600;
    line-height: $line-height-600;
  }
}

.page-header {
  margin-block: 1.5rem;
  @media (min-width: $media-tablet) {
    margin-block: 2.5rem;
  }
  @media (min-width: $media-desktop) {
    margin-block: 4.25rem;
  }
}

