.gallery {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.main-photo {
  position: relative;

  img {
    position: unset !important;
    object-fit: contain;
    max-width: unset;
    //height: 100%;
    //aspect-ratio: 1;
  }
}

.miniature {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  flex-direction: column;
  //height: 100%;

  .miniature-container {
    width: 100%;
    position: relative;
  }

  img {
    object-fit: cover;
    width: auto;
    height: auto;
    aspect-ratio: 1;
  }
}
