.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: 16px;
  align-items: center;

  @media (max-width: $media-tablet) {
    grid-template-columns:  1fr;
  }


  .gallery-image {
    position: relative;
    width: auto;
    height: 50vh;

    &:first-child {
      height: 100%;

      @media (min-width: $media-tablet) {
        grid-column-start: 1;
        grid-column-end: -1;
      }

      & img {
        width: auto;
        height: 100%;
      }
    }

    & img {
      object-fit: cover;
      height: 100%;
    }
  }
}

