.header__container{
  margin: 0 auto;
  padding-inline: 1.5rem;
  max-width: 1440px;
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $media-tablet) {
    padding-inline: 2rem;
  }

  @media (min-width: $media-desktop) {
    padding-inline: 8.75rem;
  }
}

.header {
  position: fixed;
  width: 100vw;

  z-index: 999;


  &.header-background {
    background: rgb(1,22,39);
    background: linear-gradient(180deg, rgba(1, 22, 39, 0.70) 0%, rgba(1, 22, 39, 0.50) 100%);
    @supports (backdrop-filter: blur(1.25rem)) {
      backdrop-filter: blur(1.25rem);
      background: linear-gradient(180deg, rgba(1, 22, 39, 0.70) 0%, rgba(1, 22, 39, 0.50) 100%);
    }
  }
}

.logo_container {
  margin-right: 1.25rem;
}

.mobile_toggle_bar {
  display: block;
  @media (min-width: $media-tablet) {
    display: none;
  }
}

.mobile_toggle_bar {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0;
  background: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  aspect-ratio: 1/1;
  color: $clr-white;

  .close {
    transform: translateY(-100%);
    transition: transform 300ms ease-in;
  }

  .bars {
    transform: translateY(-120%);
    transition: transform 300ms ease-in;
  }

  .close.active,
  .bars.active {
    transform: translateY(0);
  }
}

.navigation {
  color: $clr-white;
  display: none;

  // mobile navigation sideBar
  @media (max-width: $media-tablet) {
    display: block;
    position: fixed;
    transform: translateY(-100%);
    transition: transform 300ms ease-in;
    right: 0;
    top: 0;
    height: 100vh;
    width: 100%;

    background: rgba(1, 22, 39, 0.95);

    @supports (backdrop-filter: blur(1.5rem)) {
      backdrop-filter: blur(1.5rem);
      background: rgb(1,22,39);
      background: linear-gradient(180deg, rgba(1,22,39,0.8) 0%, rgba(1,22,39,0.6) 60%, rgba(65,80,93,0.4) 100%);
    }

    .list {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      margin: auto 0;
      padding: 5rem 0 10rem 0;

      .list-item {
        margin: 0;
      }
    }

    &.active {
      transform: translateX(0);
    }
  }
  @media (min-width: $media-tablet) {
    display: block;
  }
}

.list {
}

.list > * + * {
  margin-left: 2rem;
}

.list-item {
  display: inline-block;
  position: relative;
  padding: 0.5rem 0;
}

.list-item::after {
  content: '';
  position: absolute;
  width: 132%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: -16%;
  background-color: $clr-white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.list-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
